.header-home {
  position: absolute;
  width: 100%;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-wrap {
  padding-left: 9.3%;
  padding-right: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 999;
  transition: all 0.3s;
}
.img-logo1{
  

}

.logo-wrap .img-logo1 img,
.header-top .logo2 img {
  width: 45%;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 0ms;
}

img {
  max-width: 100%;
  height: auto;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.header-right {
  float: right;
  transition: all 0.3s;
}
.header-wrap .time {
  font-size: 15px;
  font-family: sans-serif;
  height: 100px;
}
.menu-right {
  display: none;
}
@media screen and (max-width: 505px) {
  .header-right {
    display: none;
  }
  .menu-right {
    display: inline;
    margin: 20px;
  }
}

.time {
  width: 230px;
  background-color: #297d53;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  font-weight: 400;
  text-transform: uppercase;
  float: right;

}

.time .list-time-1 {
  color: #ffffff;
  text-align: center;
  padding: 40px 0 0 3px;
  margin-bottom: 6px;
  font-family: "Inter", sans-serif;
  font-family: "Playfair", serif;
}
.header-wrap .list-time-1 {
  font-weight: bolder !important;
}
.time .list-time-2 {
  color: #e6d54f;
  padding: 10px 0px 0 43px !important;
  font-family: "Inter", sans-serif;
  font-family: "Playfair", serif;
}
.header-wrap .list-time-2 {
  line-height: 8px !important;
}
