.banner {
  width: 100%;
  position: relative;
}

.banner-container {
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  animation: zoomIn 20s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.image {
  opacity: 60%;
  width: 100%;
  height: 100vh;
}

.banner-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  color: rgb(64, 58, 58);
  font-weight: 800;
  font-size: 2rem;
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.zoom-in {
  animation: zoom-in 5s ease-out forwards;
  animation-delay: 1s;
}
.zoom-in-img2 {
  animation: zoom-in 5s ease-out forwards;
  animation-delay: 1s;
}
.zoom-in-img3 {
  animation: zoom-in 5s ease-out forwards;
  animation-delay: 1s;
}
.zoom-in-img4 {
  animation: zoom-in 5s ease-out forwards;
  animation-delay: 1s;
}
.zoom-in-img5 {
  animation: zoom-in 5s ease-out forwards;
  animation-delay: 1s;
}
.leftspacing {
  padding-left: 500px;
}
.rightspacing {
  padding-left: 500px;
}

@keyframes zoom-in {
  to {
    visibility: visible;
  }
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

.slick-next:before {
  content: "\003E" !important;
}

.slick-prev:before {
  content: "\003C" !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 25px !important;
  line-height: 1;
  padding: 5px;
  opacity: 0.75;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 60px !important;
  height: 60px !important;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: white !important;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 50%;
  z-index: 1 !important;
  padding: 15px !important;
}
.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 10px !important;
}
.bgImage {
  position: absolute;
  height: 60px;
  width: 100px;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: -40px;
}

.slick-prev,
.slick-next.bgImage {
  margin-top: 20px;
}
.banner-text {
  margin: 7em auto 0;
  width: 70%;
  height: 20%;
  border: 20px solid rgba(14, 13, 13, 0.21);
  padding: 1em 0;
  font-family: "Inter", sans-serif;
  font-family: "Playfair", serif;
}
